html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-custom {
    background-color: #a49f9b;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-item-custom {
    padding: 1px;
    margin: 15px;
    border-radius: 8px;
    background-color: #68605d;
    box-shadow: 0 10px 0px 6px #837a72;
    transition: all 0.2s ease;
}

    .nav-item-custom:active {
        box-shadow: 0 4px #666;
        transform: translateY(6px);
    }

.nav-link-custom {
    color: #000 !important;
}

.action-link {
    color: #52f700;
}

.table {
    border: 2px solid #52f700;
}

    .table th {
        background-color: #555a7a;
        color: #52f700;
    }

    .table td {
        background-color: #555a7a;
        color: #52f700;
    }
