html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.nav-custom {
    background-color: #a49f9b;
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
}

.nav-item-custom {
    padding: 1px;
    margin: 15px;
    border-radius: 8px;
    background-color: #68605d;
    box-shadow: 0 10px 0px 6px #837a72;
    transition: all 0.2s ease;
}

.nav-item-custom:active {
    box-shadow: 0 4px #666;
    transform: translateY(6px);
}

.nav-link-custom {
    color: #000 !important;
}
.nav-pills .nav-link.active {
  background-color: #1f9827 !important; 
}
.nav-pills .nav-link
{
  color: #ffffff !important;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 5px;
  background-color: transparent;
}
.bg-primary-subtle 
{
  background-color: #115d16 !important;
}
.nav-pills .nav-link:hover 
{
  background-color: #525252; /* Add a light hover background */
}

.action-link {
    color: #52f700;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    background-color: #979594;

}

.table td,
.table th {
    padding: 15px;
    text-align: left;
    border-bottom: 10px solid #525252 !important;
}

.table td {
    background-color: #555a7a;
    color: #52f700;
}

/* Chart styles */
.card-body {
    position: relative;
    padding: 1rem;
}

#healthInsightsChart {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

#deskUsageByTimeChart,
#deskHeightOverTimeChart,
#standingSittingRatioChart {
    width: 100%;
    height: 300px;
}

/* Header styling */
.table thead th {
    background-color: #35b93a;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;

}

/* Table row hover effect */
.table tbody tr:hover {
    background-color: #7d7a7a;
    cursor: pointer;
}

/* Action links */
a {
    color: #eaeaea;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.EditDelete:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}