@page
@model DeskMotion.Pages.Admin.Metadata.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DeskMetadata</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DeskMetadata.MacAddress" class="details-title"></label>
                <select asp-for="DeskMetadata.MacAddress" class="details-input" asp-items="Model.AvailableDesks">
                    <option value="">-- Select a Desk --</option>
                </select>
                <span asp-validation-for="DeskMetadata.MacAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DeskMetadata.Location" class="details-title"></label>
                <input asp-for="DeskMetadata.Location" class="details-input" />
                <span asp-validation-for="DeskMetadata.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeskMetadata.QRCodeData" class="details-title"></label>
                <input asp-for="DeskMetadata.QRCodeData" class="details-input" />
                <span asp-validation-for="DeskMetadata.QRCodeData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary action-link"><span class="button-back">Create</span></button>
                <a asp-page="Index" class="btn btn-primary action-link"><span class="button-back">Back to List</span></a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

<style>
    .btn{
    width: 150px;
    margin-right: 20px;

    }
    .button-back{
    width: 150px;
    margin-right: 20px;
    }
</style>