@page
@model DeskMotion.Pages.Admin.Users.EditModel

@{
    ViewData["Title"] = "Edit User";
}

<h1>Edit User</h1>

<div class="details-container">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="IdentityUser!.Email" class="details-title">Email</label>
                <input asp-for="IdentityUser!.Email" class="details-input" />
                <span asp-validation-for="IdentityUser!.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="details-title">Password</label>
                <input asp-for="Password" class="details-input" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SelectedRole" class="details-title">Role</label>
                <select asp-for="SelectedRole" class="details-input" asp-items="Model.Roles"></select>
                <span asp-validation-for="SelectedRole" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary action-link"><span class="button-back"> Save
                    </span></button>
                <a asp-page="Index" class="btn action-link"><span class="button-back"> Back to List </span></a>
            </div>
        </form>
    </div>
</div>
