@page
@model DeskMotion.Pages.Admin.Roles.DeleteModel

@{
    ViewData["Title"] = "Delete Role";
}

<h1>Delete Role</h1>

<h3>Are you sure you want to delete this role?</h3>

<div class="details-container">
    <hr />
    <dl class="row">
        <dt class="details-title">
            @Html.DisplayNameFor(model => model.Role!.Name)
        </dt>
        <dd class="details-input">
            @Html.DisplayFor(model => model.Role!.Name)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Role!.Id" />
        <button type="submit" class="btn btn-danger action-link"> <span class="button-back">Delete</span></button>
        <a asp-page="Index" class="btn btn-primary action-link"><span class="button-back">Back to List</span></a>
    </form>
</div>
