@page "{id:guid}"
@model DeskMotion.Pages.Admin.ManageReports.DeleteModel
@{
    ViewData["Title"] = "Delete Issue Report";
}

<div class="details-container">
    <h1>Delete Issue Report</h1>
    <p class="lead text-danger">Are you sure you want to delete this report?</p>

    <dl class="row">
        <dt class="details-title">Title</dt>
        <dd class="details-input">@Model.Report.Title</dd>

        <dt class="details-title">Description</dt>
        <dd class="details-input">@Model.Report.Description</dd>

        <dt class="details-title">Status</dt>
        <dd class="details-input">@Model.Report.Status</dd>
    </dl>

    <form method="post">
        <button type="submit" class="btn btn-danger action-link"><span class="button-back">Delete</span></button>
        <a asp-page="./Index" class="btn btn-secondary action-link"><span class="button-back">Cancel</a>
    </form>
</div>

<style>
    .btn {
        width: 150px;
        margin-right: 20px;
    }

    .button-back {
        width: 150px;
        margin-right: 20px;
    }
</style>
