@page
@model IndexModel

<h1>Your Desks</h1>

@if (Model.UserDesks.Count == 0)
{
    <p>You do not own any desks.</p>
}
else
{
    <div class="bg-primary rounded">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Mac Address</th>
                    <th>Location</th>
                    <th>QR Code Data</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var desk in Model.UserDesks)
                {
                    <tr>
                        <td>@desk.MacAddress</td>
                        <td>@desk.Location</td>
                        <td>@desk.QRCodeData</td>
                        <td>
                            <a asp-page="./Details" asp-route-id="@desk.Id" class="action-link">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
